@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define font classes */
.font-manrope {
  font-family: "Manrope", sans-serif;
}

.font-Inter {
  font-family: "Inter", sans-serif;
}

.font-inter-medium {
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.font-inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 700;
}

.font-poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --black: #000000;
  --primary: #775edc;
  --secondary: #41295a;
  --secondaryPurple: #664ba3;
  --darkpurple:#41295A;
  --gray: #909090;
  --yellow: #faca15;
  
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "MyCustomFont";
  src: url("./fonts/ClashGrotesk-Variable.woff2") format("woff2");
  font-style: normal;
}
/* .herobg{
  background-image: url();
} */

.animatetogglebtn {
  width: 100%;
  animation: moveSideToSide 5s ease-in-out infinite;
}

@keyframes moveSideToSide {
  0% {
    transform: translatex(0px);
  }
  50% {
    transform: translate(20px);
  }
  100% {
    transform: translate(0px);
  }
}

.logo {
  overflow-x: hidden;
  overflow-y: hidden;
 padding-top:100px;
 padding-bottom:60px;
  white-space: nowrap;
  width:90%;
}

.logoSlide {
  display: inline-block;
  animation: movetoleft 13s linear infinite;
}

.logoSlide div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 10px;
  width: auto;
  height: auto;
}

.logoSlide img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  max-height: 300px;
  height: auto;
  width: auto;
}

.scroll{
  animation: movetoleft 18s infinite linear;
}
.scrolll{
  animation: movetoleft 2s infinite linear;
}

@keyframes movetoleft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.text {
    font-size: 70px;
    font-weight: 500;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #4e54c8;
}

/* 0%{
  transform: translateX(0);
}
50%{
  transform: translateX(-300px)
}
100%{
  transform: translateX(0);
} */
